textarea {
    width: 300px;
    height: 150px;
    font-size: 16px;
    line-height: 1.5;
    resize: none;
    padding-top: 10px;
    padding-left: 5px;
  }
.flex-container {
    display: flex;
    align-self: center;
    flex-direction: column; /* Elements inside should be arranged vertically */
    justify-content: center; /* Center elements vertically */
    height: 450px;
    width: 400px;
    margin: auto;
    background-color: rgb(201, 201, 201);
    border-radius: 15px;
    top: calc(20% + 590px);
    left: calc(50% - 200px);
    margin-top: 100px; /* Add 100 pixels of margin on top */
}


div.row {
    display: flex;
    justify-content: space-between; /* Elements inside should be arranged horizontally with space in between */
    align-items: start;
    width: 90%;
    padding: 0px 5px; /* Reduce horizontal padding to 5px and keep 10px vertical padding */
}
head ~ p {
    font-size: x-large;
}
.whi1 {
 font-size: larger;
 border: gray;
 color: white;
}
.whi2{
    font-size: larger;
    color: white;
    border: none;
}
.pad1{
    padding-top: 10px;
    padding-left: 45px;
    font-size: x-large;
}
.pad2{
    padding-top: 100px;
    padding-left:125px;
    font-size: x-large;
}
.pad3{
    padding-left: 73px;
    font-size: x-large;
}
