body {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;

}
nav {
    width: 100%;
    display:flex;
    background-color: darkgray;
    margin-bottom:1rem ;
}

nav p{
    text-align: center;
    font-size: 2rem;
    justify-self: center;
}

.flex_container_row{
    display: flex;
    flex-direction: row;
    width:100%;
}

.flex_container_column{
    display: flex;
    flex-direction: column;
    width:100%;
}   

nav button{  
        border: none;
        background-color: darkgray;
        text-align: center;
        font-size: 2rem;
        text-decoration: none;
}

.flex_profile {
    display: flex;
    width: 30%;
    max-width: 160px;
    min-width: 140px;
    height: 15%;
    min-height: 56px;
    max-height: 75px;
    margin-left: auto; /* Align to the right by setting margin-left to auto */
    text-align: left; /* You can remove this line, as text-align: left is the default */
    font-size: 1rem;
    background-color: rgb(201, 201, 201);
    border-radius: 5px;
}

nav button:hover{
    background-color: gray;
}
a {
    text-decoration: none;
    color: black;
}

nav > .flex_container_row + img{
    width:5rem;
    height: 5rem;
    padding: .5rem;
}



footer {
position: static;
width: 100%;
background-color: darkgray;
text-align: center; 
margin-top: 1rem;   
}
