body {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;

}
nav {
    width: 100%;
    display:flex;
    background-color: darkgray;

}



nav p{
    text-align: center;
    font-size: 2rem;
    justify-self: center;
}

.flex_container_row{
    display: flex;
    flex-direction: row;
    width:100%;
}


.flex_container_column{
    display: flex;
    flex-direction: column;
    width:100%;

}   

nav button{  
        border: none;
        background-color: darkgray;
        text-align: center;
        font-size: 2rem;
        text-decoration: none;
}

div.flex_profile {
    position:absolute;
    right: 0;
    top: 80px;
    width: 15%;
    min-width: 130px;
    text-align: left; /* You can remove this line, as text-align: left is the default */
    font-size: 1rem;
    background-color: rgb(201, 201, 201);
    border-radius: 5px;
}

nav button:hover{
    background-color: gray;
}
a {
    text-decoration: none;
    color: black;
}

nav > .flex_container_row + img{
    width:5rem;
    height: 5rem;
    padding: .5rem;
    margin-left: auto;
}



footer {
position: static;
width: 100%;
background-color: darkgray;
text-align: center; 
margin-top: 1rem;   
}
